---
import BaseLayout from "../layouts/BaseLayout.astro";
import BackgroundCircles from "../components/BackgroundCircles.astro";
import Hero from "../components/Hero.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import PreviewSection from "../components/PreviewSection.astro";
import ThemesSection from "../components/ThemesSection.astro";
---

<BaseLayout title="Small Talk Notebook">
  <BackgroundCircles />

  <div class="flex flex-col gap-12">
    <Hero />
    <FeaturesSection />
    <PreviewSection />
    <ThemesSection />
  </div>
</BaseLayout>
